---
- name: This sets up a Docker server
  hosts: ansibleclient1
  remote_user: ec2-user
  become: true
  become_method: sudo
  vars:
      vol: /tmp/myefs/docker_volume/
      random_number: "{{ 100 | random }}"
  tasks:
  - name: Installing Docker
    yum: pkg=docker state=installed
  - name: Start Docker Service
    service:
      name: docker
      state: started
  - name: Enable Docker Service
    service:
    name: docker
    enabled: yes
    register: shell_result
  - debug:
      var: shell_result
  - name: Build Docker Image
    args:
      chdir: vol
    shell: docker build -t myweb:v1.0 .
    register: shell_result
  - debug:
      var: shell_result
  - name: Creating test container
    command: "{{ item }}"
    with_items:
    - docker run -itd  --name=test_machine320"{{ random_number }}" centos
    - docker run -itd --name=webserver320"{{ random_number }}" -p 320"{{ random_number }}":80 -v "{{ vol }}":/var/www/html/  myweb:v1.0
    register: shell_result
  - debug:
      var: shell_result
  